/* global.css */
@import "tailwindcss";

/* Usando Tailwind + Fallbacks personalizados */
:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  transition: background-color 0.3s ease, color 0.3s ease;
}